<%-include('../partials/header')%>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<div class="row" style="margin-top: 80px;">
    <div class="col-6 mx-auto">
        <h1 class="display-6">Login Form</h1>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Name of User" required>
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control"  name="password" id="password" rows="5" placeholder="Password of User" required></>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Login</button>
            <p class="mt-2">Don't have account? <a href="/register">SignUp Now</a></p>
        </form>
    </div>
</div>


<script src="/js/script.js"></script>
<%-include('../partials/footer')%>